body {
    background-color: #EAC926;
    font-family: 'Roboto';
}
main {
    text-align:center;
    size: 90vw;
}
#subCentrado{
    font-size: 16px;
    text-align: center;
}
#menu{
    text-align: center;
}
.detalle{
    font-size: 16px;
}

.precio{
    font-size: 18px;
}
.titulares{
    font-size: 24px;
}
footer{
    text-align: center;
}
.titNav{
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}
#hamburguesa{
    font-size: 30px;
}
