*{
    box-sizing: border-box;
}

.recuadro{
    border: solid 15px #ebebeb;
    width: 50%;
    background-color: #EAC926;
}

.cuadro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
    width: 100%;
}

.perfilusuario{
}

body {
    background-color: #EAC926;
    font-family: 'Roboto';
}
main {
    text-align:center;
    width: 90vw;
}
#subCentrado{
    font-size: 16px;
    text-align: center;
}
#contdemenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: -1%;
}
#menu{
    text-align: center;
    padding: 2%;
    background-color: #041c76;
    color: white;
}

.titulares{
    font-size: 24px;
    padding-top: 7%;
    padding-bottom: 7%;
}
footer{
    text-align: center;
    background-color: white;
    color: #3e4043;
    width: 100%;
    height: auto;
}
.titNav{
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.foot{
    color: blue;
}

.espacioDeFoot{
    height: 20px;
}


#copyright{
    font-size: 7px;
    
}
.precios{
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
    position: relative;
}

.precio{
    font-size: 18px;
    flex-grow: 4;
    
}
.descuento{
    flex-grow: 1;
    color: lightgreen;
        
}
#header{
    display: flex;
    flex-wrap: wrap
    
}
#logo{
    width: 50%;
}
#buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 5%;
}
#buscar{
    width: 60%;
}
#lupa{
    width: 7%;
    height: 15%;
}
.product{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    position: relative;
    left: 7%
    
}
.detalle{
    font-size: 16px;
    background-color: white;
    width: 85%;
    border: solid 15px #ebebeb;
    padding: 10px;
}

.imagen{
    width: 75%;
    border-bottom: solid 1px #ebebeb;;
}
    
.truck{
    color: green;
    position: absolute;
    left: 90%;
    bottom: 90%;
}
#banner{
    width: 100%;
    height: auto;
}
@media (min-width: 600px) {
    #menu {
      display: none;
    }
}

@media (max-width: 600px){
    .navbar{
        display: none;
    }
}
@media(min-width: 600px){
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}