*{
    box-sizing: border-box;
}

.recuadro{
    border: solid 15px #ebebeb;
    width: 50%;
    background-color: #ebebeb;
}

.cuadro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
    width: 100%;
}

#perfilusuario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 55%;
    position: relative;
    left: 20%;
    padding-top: 5%;
}

.formula{
    padding-top: 5%;
}

#enviar:hover{
    background-color: blue
}

body {
    background-color: #EAC926;
    font-family: 'Roboto';
}
main {
    text-align:center;
    width: 90vw;
}
#subCentrado{
    font-size: 16px;
    text-align: center;
}
#contdemenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: -1%;
}
#menu{
    text-align: center;
    padding: 2%;
    background-color: #041c76;
    color: white;
}
#navbar{
    display: flex;
    flex-wrap: wrap;
}
.titulares{
    font-size: 24px;
    padding-top: 7%;
    padding-bottom: 7%;
}


#f{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: white;
    color: #3e4043;
    width: 100%;
    height: auto;
}
.titNav{
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.foot{
    color: blue;
}
.foot:hover{
    color: #01154D;
}

.espacioDeFoot{
    height: 20px;
}


.fot{
    width: 100%;
}


#copyright{
    font-size: 7px;
    
}
.descrip{
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
}
.precios{
    position: relative;
}

.precio{
    font-size: 18px;
    flex-grow: 4;
    
}
.descuento{
    flex-grow: 1;
    color: lightgreen;
        
}
#header{
    display: flex;
    flex-wrap: wrap
    
}
#logo{
    width: 50%;
}
#buscador{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-right: 5%;
}
#buscar{
    width: 60%;
}
#lupa{
    width: 7%;
    height: 15%;
}
#product{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    position: relative;
    left: 7%
    
}
#oferta{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    position: relative;
    left: 7%
}
.detoferta{
    font-size: 16px;
    background-color: white;
    width: 85%;
    border: solid 15px #ebebeb;
    padding: 10px;
}

.imgoferta{
    width: 80%;
}
.detalle{
    font-size: 16px;
    background-color: white;
    width: 85%;
    border: solid 15px #ebebeb;
    padding: 10px;
}

.imagen{
    width: 75%;
    border-bottom: solid 1px #ebebeb;;
}
    
.truck{
    color: green;
    position: absolute;
    left: 90%;
    bottom: 90%;
}



#banner{
    width: 100%;
    height: auto;
}

.desc{
    height: 0px;
    overflow: hidden;
}

.desc:hover{
    height: 50px;
    overflow: visible;
}



@media (min-width: 600px) {
    #menu {
      display: none;
    }
    .detalle{
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}

@media (max-width: 361px){
    .navbar{
        display: none;
    }
    .descrip{
        display: none;
    }

}


@media(min-width: 600px){
    #navbar{
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media (min-width: 361px){
    .detoferta{
        width: 50%;
    }
}
@media (min-width: 769px){
    .detoferta{
        width: 25%;
    }
}
@media (min-width: 769px){
    #f{
        flex-direction: row;
        padding-top: 15px;
        padding-left: 35px;
    }
    .fot{
        width: 30%;
    }
}