<html>
    <head>
        <link href= '/css/style.css' rel="stylesheet">
        <link href= '/css/fontawesome/css/all.css' rel='stylesheet'>
    </head>
    <body>
        <header>
            <img src='/image/logo-mercado-liebre.svg'>           
            <button> Buscar productos, marcas</button>
            <h2 id=subCentrado>Comprá en cuotas y sin tarjeta de crédito</h2>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <br>
            <ul>
                <li>Creá tu cuenta <i class="far fa-address-card"></i></li> 
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </header>
        <main>
            <section>
                Basado en tu última visita
                <div>
                    <img src="/image/img-cafetera-moulinex.jpg">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
                <div>
                    <img src="/image/img-macbook-pro-2019.jpg">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro 2019</p>
                </div>
                <div>
                    <img src="/image/img-samsung-galaxy-s10.jpg">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
                <div>
                    <img src="/image/img-tv-samsung-smart.jpg">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <p>SmarTv Samsung 43"</p>
                </div>
            </section>
            <section>
                Sección de Ofertas
            </section>
        </main>
        <footer>

        </footer>

    </body>
</html>