
<html>
    <head>
        <meta name = "viewport" content = "width = device-width , initial-scale = 1">
        <link href = '/css/stylelogin.css' rel="stylesheet">
        <link href = '/css/style.css' rel="stylesheet">
        <link href = '/css/fontawesome/css/all.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <div id=header>
                <div id=logo>
                    <img src='/image/logo-mercado-liebre.svg' >           
                </div>
                <div id=buscador>
                    <input placeholder="Buscar productos, marcas" id="buscar">
                    <button type="submit" id="lupa"><i class="fas fa-search"></i></button>
                </div>
                <img src='/image/banner.jpg' id="banner">
            </div>
            <div id="contdemenu">
                <p id='menu'> <i class="fas fa-bars"></i> </p>
            </div>
        </header>
        <main class="cuadro">
            <div class="recuadro" >
                <h1> Ingresá </h1>
                <form action="" method="POST" id="formulario">
                    <div id="nombre"> Nombre de usuari@ </div>
                        <input type="text">
                    <div id="contra"> Contraseña</div>
                        <input type="password">
                    <br>
                    <button type="submit" id="enviar"> <a href='/'> Enviar </a> </button>
                </form>
            </div>
        </main>
        <footer>
            <br class='espacioDeFoot'>
            <nav class= 'foot' ><i class="far fa-credit-card fa-2x"></i></nav>
            <nav class='titNav'> Pagá con tarjeta o en efectivo</nav>
            <nav> Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</nav>
            <br class='espacioDeFoot'>
            <nav class= 'foot' ><i class="fas fa-gift fa-2x"></i></nav>
            <nav class='titNav'> Envíos gratis desde los $2.500</nav>
            <nav> Solo por estar registrad@ en MercadoLiebre tenes envíos gratis en miles de productos. Es un beneficio de mercadoPuntos.</nav>
            <br class='espacioDeFoot'>
            <nav class= 'foot' ><i class="fas fa-user-shield fa-2x"></i></nav>
            <nav class='titNav'>Seguridad de principio a fin</nav>
            <nav>No te gusta? Devolvelo! En MercadoLiebre no hay nada que no [iuedas hacer por que estas siempre protegid@</nav>
            <br class='espacioDeFoot'>
            <nav id='copyright'>Copyright 1999-2020 MercadoLiebre S.R.L.</nav>
        </footer>
    </body>
</html>