<html>
    <head>
        <meta name = "viewport" content = "width = device-width , initial-scale = 1">
        <link href = '/css/style.css' rel="stylesheet">
        <link href = '/css/stylelogin.css' rel="stylesheet">
        <link href = '/css/fontawesome/css/all.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    </head>
    <body>
        <header>
            <div id=header>
                <div id=logo>
                    <img src='/image/logo-mercado-liebre.svg' >           
                </div>
                <div id=buscador>
                    <input placeholder="Buscar productos, marcas" id="buscar">
                    <button type="submit" id="lupa"><i class="fas fa-search"></i></button>
                </div>
                <img src='/image/banner.jpg' id="banner">
            </div>
            <div id="contdemenu">
                <p id='menu'> <i class="fas fa-bars"></i> </p>
            </div>
        </header>
        <main class="cuadro">
            <div class="recuadro">
                <h1> Registrate </h1>
                <form action="" method="POST">
                    <div class="formula"> Nombre y Apellido </div>
                        <input type="text"> 
                    <br>
                    <div class="formula"> Nombre de usuario </div>
                        <input type="text" required>
                    <div class="formula"> Fecha de nacimiento </div>
                        <input type="date" required>
                    <div class="formula"> Domicilio </div>
                        <input type="text" required>
                    <div class="formula"> Que buscas? </div>
                        <label> Comprar </label>
                            <input type="radio" name="perfil" value="comprar">
                        <label> Vender </label>
                            <input type="radio" name="perfil" value="vender">
                    <div id="perfilusuario"> Categorías de interes 
                        <label> Electro </label>
                            <input type="checkbox" name='electro' value="electro">
                        <label> Moda </label>
                            <input type="checkbox" name='moda' value="moda">
                        <label> Hogar </label>
                            <input type="checkbox" name='hogar' value="hogar">
                        <label> Juguetería </label>
                            <input type="checkbox" name='juguetería' value="juguetería">
                        <label> Vida sana </label>
                            <input type="checkbox" name='vida sana' value="vida sana">  
                    </div>
                    <div class="formula"> Foto de perfil </div>
                        <input type="file" name="imagen" accept=".jpg">       
                    <div class="formula"> Contraseña </div>
                        <input type="password" required>
                    <div class="formula"> Confirmar contraseña</div>
                        <input type="password" required>
                   <br>
                    <button type="submit"> <a href='/'> Enviar </a> </button>
                    <button type="reset"> Borrar </button>
                </form>
            </div>
        </main>
        <footer>
            <br class='espacioDeFoot'>
            <nav class= 'foot' ><i class="far fa-credit-card fa-2x"></i></nav>
            <nav class='titNav'> Pagá con tarjeta o en efectivo</nav>
            <nav> Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</nav>
            <br class='espacioDeFoot'>
            <nav class= 'foot' ><i class="fas fa-gift fa-2x"></i></nav>
            <nav class='titNav'> Envíos gratis desde los $2.500</nav>
            <nav> Solo por estar registrad@ en MercadoLiebre tenes envíos gratis en miles de productos. Es un beneficio de mercadoPuntos.</nav>
            <br class='espacioDeFoot'>
            <nav class= 'foot' ><i class="fas fa-user-shield fa-2x"></i></nav>
            <nav class='titNav'>Seguridad de principio a fin</nav>
            <nav>No te gusta? Devolvelo! En MercadoLiebre no hay nada que no [iuedas hacer por que estas siempre protegid@</nav>
            <br class='espacioDeFoot'>
            <nav id='copyright'>Copyright 1999-2020 MercadoLiebre S.R.L.</nav>
        </footer>
    </body>
</html> 